<div class="contents row">
  <%= form_tag('/kakei', method: :post) do %>
    <input placeholder="day" type="text" name="name">
    <input placeholder="price" type="integer" name="price">
    <input placeholder="use" type="text" name="use">
    <textarea cols="30" name="text" placeholder="memo" rows="5"></textarea>
    <input type="submit" value="input">
  <% end %>
</div>